nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

body {
    width: 500px;
    margin: 0 auto;
}

.items {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 50px;
}

.test {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}