<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body bgcolor=#67C1F8>
        <nav>
            <div class="logo">
                <a href="/"><img src="static/img/banned2.png"></a>
            </div>
            <div class="items">
                <a href="/signin">Sign in</a>
            </div>
            <div class="test">
                <h1> Register</h1>
                <from method="post">
                    <input type="text" name="username" placeholder="username"><br>
                    <input type="password" name="password" placeholder="password"><br>
                </from>
                <a>
                    <button type ="submit"> Register</button>
                </a>
            </div>
        </nav>
    </body>
</html>