<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/index.css">
        <title>Accueil</title>
    </head>
    <Body bgcolor=#67C1F8>
        <nav>
            <div class="logo">
                <a href="/"><img src="static/img/banned2.png" ></a>
            </div>
            <div class="items">
                <a href="/signin">Sign in</a>
            </div>
            <div class='items'>
                <a href="/register">Register</a>
            </div>
        </nav>
    </Body>
</html>